* {
    box-sizing: border-box;
}

body {
    background-color: #40414728;
    color: #F2F1EF;
}


.header {
    border-bottom: 3px solid black;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: #40414728;

}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline-block;
    margin: 0 15px;
}

.main {
    display: block;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 100px;
    padding-bottom: 15px;
}

#aboutMe {
    margin: 25px auto;
    word-wrap: break-word;
    width: 60%;
    text-align: left;
}

#aboutMe p {
    margin: 10px;
}

#portfolio {
    margin: 25px auto;
}

.project {
    margin-left: 15%;
    margin-right: 15%
}

.image {
    width: 100%;
    border-radius: 20px;
}

.icon {
  width: 45px;
  height: 45px;
}

.footer {
    text-align: center;
    position: relative;
    padding-top: 20px;
    border-top: 3px solid black;
    bottom: 0;
}

/*Links pseudo classes */

a:link{
    color: #bfefff;
}

a:visited {
    color: #D8BFD8;
}




@media screen and (min-width: 768px){
    .header {
        text-align: left;
        padding-left: 25px;
        margin-left: 0;
    }

    .header-name {
        display: inline-block;
        left: 25px;
    }

    .menu {
        display: inline-block;
        position: absolute;
        right: 25px;
        padding-top: 15px;
    }

    .icon {
      transition-property: top;
      transition-duration: 2s;
      transition-timing-function: linear;
    }

    .icon:hover:enabled {
      position: relative;
      top: -4px;
    }

    a:link {
      text-decoration: none;
    }

    a:hover { 
      text-decoration: underline;
    }

}