* {
    box-sizing: border-box;
}

body {
    background-color: #40414728;
    color: black;
}


.header {
    border-bottom: 1px solid #282c34;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: #282c34;
    opacity: 1;
    color: lightsteelblue;
}

.header-name {
  font-size: 28px;
}

.header-filler {
  padding: 25px
}


h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline-block;
    margin: 0 15px;
}

h2, h3 {
  text-align: center;
}

.main {
    display: block;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 100px;
    padding-bottom: 15px;
}

#aboutMe {
    margin: 10px auto;
    word-wrap: break-word;
    width: 80%;
    text-align: left;
    padding-top: 50px;
}

#aboutMe p {
    margin: 10px;
}

#portfolio {
    margin: 10px auto;
    padding-top: 25px;
}

.project {
    margin-left: 15%;
    margin-right: 15%;
}

.link {
  color: darkblue;
}

.links {
  text-align: center;
}

.image {
    width: 100%;
    border-radius: 20px;
}

.icon {
  width: 45px;
  height: 45px;
}

.footer {
    text-align: center;
    position: relative;
    padding-top: 20px;
    border-top: 3px solid black;
    bottom: 0;
}


@media screen and (min-width: 768px){
    .header {
        padding-left: 25px;
        margin-left: 0;
    }

    .header-name {
        display: inline-block;
        left: 25px;
        font-size: 32px;
    }

    .menu {
        display: inline-block;
        position: absolute;
        right: 25px;
        padding-top: 15px;
    }

    .contact-icons li {
      transition-property: top;
      transition-duration: 2s;
      transition-timing-function: linear;
    }

    .contact-icons:hover:enabled {
      position: relative;
      top: -4px;
    }

    #aboutMe, #portfolio {
      margin: 25px auto;
    }

    a:link {
      text-decoration: none;
    }

    a:hover { 
      text-decoration: underline;
    }

}